{
    "paymentRequests": [
        {
            "paymentMethod": {
                "paymentType": "ExternalPayment",
                "externalPaymentRecordId": "$!headers.tc"
            }
        }
    ]
}